body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:1345px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:128px;
  width:1291px;
  height:1344px;
  color:#999999;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:70px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:58px;
  width:1290px;
  height:69px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:26px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:85px;
  width:188px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u619_img.selected {
}
#u619.selected {
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:58px;
  width:2px;
  height:929px;
  overflow:hidden;
}
#u620_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:929px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u620_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1416px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:180px;
  height:1415px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  overflow:hidden;
}
#u622_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u622_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u622_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u622_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u622_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u622_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u622_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u622_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u622_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u622_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u622_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u622_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u622_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u622_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u622_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u622_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u623_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u623_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:57px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:161px;
  height:56px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u624_img.selected {
}
#u624.selected {
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:77px;
  width:160px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:86px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u627_img.mouseOver {
}
#u627.mouseOver {
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:127px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u628_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u628_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1048px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:58px;
  width:1px;
  height:1047px;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:58px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:0px;
  width:88px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u631_img.mouseOver {
}
#u631.mouseOver {
}
#u631_img.selected {
}
#u631.selected {
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:58px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:0px;
  width:88px;
  height:57px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u632_img.mouseOver {
}
#u632.mouseOver {
}
#u632_img.selected {
}
#u632.selected {
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:58px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:0px;
  width:88px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u633_img.mouseOver {
}
#u633.mouseOver {
}
#u633_img.selected {
}
#u633.selected {
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:142px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u635_img.mouseOver {
}
#u635.mouseOver {
}
#u635_img.selected {
}
#u635.selected {
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:160px;
  width:9px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u636_img.mouseOver {
}
#u636.mouseOver {
}
#u636_img.selected {
}
#u636.selected {
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u638_img.selected {
}
#u638.selected {
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:262px;
  width:10px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:256px;
  width:9px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u640_img.mouseOver {
}
#u640.mouseOver {
}
#u640_img.selected {
}
#u640.selected {
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u641_img.mouseOver {
}
#u641.mouseOver {
}
#u641_img.selected {
}
#u641.selected {
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:338px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u642_img.mouseOver {
}
#u642.mouseOver {
}
#u642_img.selected {
}
#u642.selected {
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:162px;
  width:10px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:389px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u645_img.selected {
}
#u645.selected {
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:411px;
  width:10px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:406px;
  width:9px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u647_img.mouseOver {
}
#u647.mouseOver {
}
#u647_img.selected {
}
#u647.selected {
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u648_img.mouseOver {
}
#u648.mouseOver {
}
#u648_img.selected {
}
#u648.selected {
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u649_img.mouseOver {
}
#u649.mouseOver {
}
#u649_img.selected {
}
#u649.selected {
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:58px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-1px;
  width:88px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u650_img.mouseOver {
}
#u650.mouseOver {
}
#u650_img.selected {
}
#u650.selected {
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:1127px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:222px;
  width:358px;
  height:1126px;
  text-align:left;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:1127px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:222px;
  width:882px;
  height:1126px;
  text-align:left;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:244px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:498px;
  width:41px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:749px;
  width:53px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:816px;
  width:300px;
  height:170px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:851px;
  width:100px;
  height:100px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:28px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:996px;
  width:161px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:244px;
  width:81px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:1406px;
  width:119px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u660_img.mouseOver {
}
#u660.mouseOver {
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1406px;
  width:119px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u661_img.mouseOver {
}
#u661.mouseOver {
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:101px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:286px;
  width:811px;
  height:101px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:890px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:411px;
  width:830px;
  height:889px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:228px;
  width:826px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:198px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:290px;
  width:320px;
  height:198px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:198px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:551px;
  width:320px;
  height:198px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:16px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:16px;
  width:54px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:154px;
  width:882px;
  height:48px;
}
#u668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:224px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:1124px;
  width:358px;
  height:224px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
